node_modules
**/*Secrets*
!Secrets.example.js
/.vs/slnx.sqlite
/.vs/SitecoreToolbarScriptlets/v15/.suo
/.vs/
/bin/
/obj/
/dist/WorkingCode/
/WorkingCode/jsToInject/Interfaces/*.js
/WorkingCode/jsToInject/_first/*.js
/WorkingCode/jsToInject/*.map
/WorkingCode/jsToInject/**/*.map
/WorkingCode/jsToInject/Tested/**/*.js
/WorkingCode/jsToInject/Tested/**/*.js
/WorkingCode/jsToInject/Tested/**/*.js.map
/WorkingCode/jsToInject/Tested/**/*.js.map
/Browser Addons/webextensions-examples-master/
/src/jsToInject/**/*.js
/dist.TsTranspiled/*
/src/jsToInject/**/*.js.map
/AutoBuild/
/src/**/*.map
/src/PopUp/scripts/*.js
/src/Content/scripts/*.js
/src/Content/scripts/*.js
/src/hindsiteWindowOpener/Scripts/*.js
/src/Shared/scripts/*.js
/src/Content/scripts/**/*.js
/src/PopUp/scripts/**/*.js
/src/Shared/scripts/**/*.js
/src/Content/scripts/**/*.js.map
/archives/archive*/**/*
/archives/AutoBuildArchive*
/src/HindSiteScUiProxy/scripts/*.js
/src/HindSiteScUiProxy/scripts/**/*.js
/src/PopUpController/scripts/**/*.js
/src/Content-Top/scripts/**/*.js
/src/PopUpUi/scripts/**/*.js
/src/DOMJacket/**/*.js
