@import "vars";

body {
  /*background-image: $scBackgroundImage;*/
  /*background-size: cover;*/
  background-color: none;
  /*background-repeat: no-repeat;*/
  color: $scTextColorNorm;
  overflow: auto;
  font-family: $scFontFamily;
  margin: 0;
}

.big-wrapper {
  background-color: $hsBackgroundColor;
  margin: 0;
}


form {
  margin: 5px;
  background-color: $hsBackgroundColor;
}

.light-text {
  color: $scTextColorLight;
}

.red {
  background-color: red;
}
