@import "vars";

fieldset {
  &.top{

  background-color: $scBackgroundColor;
  border: none;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-top: 5px;
  padding: 0;

  }
  > legend {
    &.section {
      /*background-color: green;*/
      background: none;
      background-color: $scSectionBackgroundColor;
      border: none;
      color: white;
      cursor: pointer;
      /*display: flex;*/
      /*float: left;*/
      /*left: -12px;*/
      margin-top: 0;
      padding-top: 15px;
      padding-left: 10px;
      position: relative;
      top: 5px;
      width: calc(100% - (2 * #{$hsTypMargin}) + 2px);
      height: $scSectionTitleHeight;

      .scEditorSectionCaptionGlyph {
        float: right;
        margin: 10px 15px 0 0;
      }

      &.expanded {
        border-left: 5px solid $scRed;
      }

      &:after {
        content: url($sc_AccordianUp);
        font-size: 13px;
        color: #777;
        float: right;
        margin-left: 5px;
      }
    }
  }
}

.in {
  display: none;
}

.scroller {
  height: 160px;
  display: inline-block;
  width: $MaxScrollerWidth;
  overflow: scroll;
  margin: $hsTypMargin;
}

.accordian-content {
  /*display: flex;*/
  margin-top: 0px;
  margin-bottom: 15px;
  padding-top: 5px;
}