@import "vars";



.header-push {
  height: 37px;// don't know why this isn't right $headerHeight;
  position: relative;
  
}

.header {
  background-color: $sc_Black;
  color: $sc_White;
  height: $headerHeight;
  left: 0;
  position: fixed;
  text-align: right;
  top: 0;
  width: 100%;
  z-index: 100;

  .build-stamp {
    text-align: right;
    display: inline-block;
    font-size: 12px;
  }

  .close-window {
    text-align: right;
    display: inline-block;
    padding: 4px;
    padding-right: 19px;
    color: $sc_White;

    &:hover {
      background-color: $scRed;
      cursor: pointer;
    }

    &::before {
      content: 'X';
      color: black;
      font-weight: 300;
      font-family: Arial, sans-serif;
      font-size: 16px;
    }
  }
}