@import "vars";

.header-push {
  height: $headerHeight; // don't know why this isn't right $headerHeight;
  position: relative;
}

.header {
  background-color: $sc_Black;
  color: $sc_White;
  height: $headerHeight;
  font-size: 11px;
  left: 0;
  padding-top: 6px;
  padding-left: 6px;
  position: fixed;
  text-align: right;
  top: 0;
  width: 100%;
  z-index: 100;

  .left-side {
    float: left;
  }

  .right-side {
    float: right;
  }



  .build-stamp {
    display: inline-block;
    text-align: right;
  }

  .close-window {
    color: $sc_White;
    display: inline-block;
    padding: 4px;
    padding-right: 19px;
    text-align: right;

    &:hover {
      background-color: $scRed;
      cursor: pointer;
    }

    &::before {
      color: $sc_White;
      content: 'X';
      font-family: Arial, sans-serif;
      font-size: 16px;
      font-weight: 300;
    }
  }
}