@import 'vars.scss';




button {
  /*border-radius: 5px;*/
  background: none;
  background-color: $scLaunchPadBtnBackground;
  background-size: 30px 30px;
  border: 0;
  border-radius: 0px;
  box-shadow: none;
  cursor: pointer;
  height: $scLaunchPageButtonHeight;
  height: 60px;
  margin: $hsTypMargin;
  opacity: 1;
  padding-top: 26px;
  vertical-align: top;
  white-space: normal;
  width: $scLaunchPagebuttonWidth;
  word-wrap: break-word;

  &:hover {
    background-color: $scHoverColor;
  }
}

.disabled{
  cursor: default;
  background-color: $buttonDisabledColor;
  opacity: 0.3;
    &:hover{
    background-color: $buttonDisabledColor;
  }
}

.icon {
  background-repeat: no-repeat;
  background-position: top;
}

.admin-b-icon {
  background-image: url(/~/icon/office/32x32/log_in.png);
  background-repeat: no-repeat;
  background-position: top;
}


.restore-snapshot {
  background-image: $sc_open_document;
}

.delete-snapshot {
  background-image: $sc_delete;
}

.btn-favorite {
  background-image: $sc_heart;
}

.edit {
  background-image: $sc_paint;
}

.normal {
  background-image: $sc_web;
}

.preview-icon {
  background-image: $sc_preview;
}

.admin-b {
  background-image: $sc_log_in;
}

.desktop-icon {
  background-image: $sc_desktop;
}

.ce {
  background-image: $sc_pencil;
}

.add-ce-tab {
  background-image: $sc_add;
}

.details {
  background-image: $sc_layout_details;
}

.take-snapshot {
  background-image: $sc_camera_1;
}

.publish {
  background-image: $sc_publish;
}

.cancel {
  background-image: $sc_sign_stop;
}

.draw-storage {
  background-image: $sc_store;
}

.set-nickname {
  background-image: $sc_rename;
}