@import 'vars.scss';

$sc_add: url(/~/icon/applicationsv2/32x32/add.png);
$sc_camera_1: url("/~/icon/apps/32x32/Camera (1).png");
$sc_delete: url("/~/icon/applicationsv2/32x32/delete.png");
$sc_desktop: url(/temp/iconcache/apps/48x48/windows%20table.png);
$sc_heart: url("/~/icon/applicationsv2/32x32/heart.png");
$sc_layout_details: url(/temp/iconcache/office/24x24/layout_details.png);
$sc_log_in: url(/~/icon/office/32x32/log_in.png);
$sc_open_document: url("/~/icon/core3/32x32/open_document.png");
$sc_paint: url("/~/icon/apps/32x32/Paint.png");
$sc_pencil: url(/temp/iconcache/apps/48x48/pencil.png);
$sc_preview: url(/~/icon/apps/32x32/Preview.png);
$sc_publish: url(/temp/iconcache/office/24x24/publish.png);
$sc_rename: url( /~/icon/core/32x32/rename.png);
$sc_sign_stop: url(/~/icon/applicationsv2/32x32/sign_stop.png);
$sc_store: url( /~/icon/office/32x32/store.png);
$sc_web: url("/~/icon/network/32x32/web.png");


button {
  /*border-radius: 5px;*/
  background: none;
  background-color: $scLaunchPadBtnBackground;
  background-size: 30px 30px;
  border: 0;
  border-radius: 0px;
  box-shadow: none;
  cursor: pointer;
  height: $scLaunchPageButtonHeight;
  height: 60px;
  margin: 7px;
  padding-top: 26px;
  vertical-align: top;
  white-space: normal;
  width: $scLaunchPagebuttonWidth;
  word-wrap: break-word;

  &:hover {
    background-color: $scHoverColor;
  }
}

.disabled{
  cursor: default;
  background-color: $buttonDisabledColor;
    &:hover{
    background-color: $buttonDisabledColor;
  }
}

.icon {
  background-repeat: no-repeat;
  background-position: top;
}

.restore-snapshot {
  background-image: $sc_open_document;
}

.delete-snapshot {
  background-image: $sc_delete;
}

.favorite {
  background-image: $sc_heart;
}

.edit {
  background-image: $sc_paint;
}

.normal {
  background-image: $sc_web;
}

.preview-icon {
  background-image: $sc_preview;
}

.admin-b {
  background-image: $sc_log_in;
}

.desktop-icon {
  background-image: $sc_desktop;
}

.ce {
  background-image: $sc_pencil;
}

.add-ce-tab {
  background-image: $sc_add;
}

.details {
  background-image: $sc_layout_details;
}

.take-snapshot {
  background-image: $sc_camera_1;
}

.publish {
  background-image: $sc_publish;
}

.cancel {
  background-image: $sc_sign_stop;
}

.draw-storage {
  background-image: $sc_store;
}

.set-nickname {
  background-image: $sc_rename;
}