@import "vars";
@import 'menu.buttons';
@import 'overlay.scss';
@import 'Grid.scss';

.light-text {
  color: $scTextColorLight;
}

.red {
  background-color: red;
}


.build-stamp {
  text-align: right;
  display: block;
  font-size: 12px;
}

.admin-b-icon {
  background-image: url(/~/icon/office/32x32/log_in.png);
  background-repeat: no-repeat;
  background-position: top;
}

select {
  /*height: 50px;*/
  width: 100%;
  font-family: Courier New, Courier, monospace;
}

.mono {
  font-family: Courier New, Courier, monospace;

  div {
    border: 0;
    margin: 0;
    padding: 0;
  }
}

fieldset {
  display: flex;
  flex-wrap: wrap;
  background-color: $scBackgroundColor;
  padding-top: 14px;
}

.accordian-content {
  /*display: flex;*/
}

legend {
  /*background-color: green;*/
  background: none;
  background-color: $scSectionBackgroundColor;
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  float: left;
  left: -12px;
  margin-top: 0;
  padding-top: 0;
  position: relative;
  top: -12px;
  width: 100%;

  &:after {
    content: url($scAccordianUp);
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
}

option {
  color: black;
  font-family: Courier New, Courier, monospace;
}

optgroup {
  color: $scTextColorLight;
  font-family: Courier New, Courier, monospace;
}

.in {
  display: none;
}

.group {
  border: 1px solid lightgray;
  display: flex;
  margin: $margin;
  padding: $padding;
  vertical-align: top;
}

body {
  background-image: $scBackgroundImage;
  background-size: cover;
  background-color: $scBackgroundColor;
  overflow: auto;
  color: $scTextColorNorm;
  background-repeat: no-repeat;
}

.ta-wrapper {
  width: 60%;
  display: inline-block;

  .ta-feedback {
    height: 100px;
    display: inline-block;
    width: auto;
  }
}

.scroller {
  height: 160px;
  display: inline-block;
  width: $MaxScrollerWidth 754px;
  overflow: scroll;
}

textarea {
  border: 0;
  box-sizing: border-box;
  display: inline-block;
  height: 160px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  width: 1500px;
  white-space: pre-wrap;
}