@import "vars";

select {
  /*height: 50px;*/
  font-family: Courier New, Courier, monospace;
  width: calc(100% - (2 * #{$hsTypMargin}) + 2px);
  margin: $hsTypMargin;

  option {
    &.favorite {
      background-color: #E0B406;
    }

    color: black;
    font-family: Courier New, Courier, monospace;
    padding: 0;
  }

  .mono {
    font-family: Courier New, Courier, monospace;

    div {
      border: 0;
      margin: 0;
      padding: 0;
    }
  }



  optgroup {
    color: $scTextColorLight;
    font-family: Courier New, Courier, monospace;

    &.title {
      color: $hsDarkerGray;
      font-family: Courier New, Courier, monospace;
    }
  }
}