@import "vars";

body {
  $mouseBlockZ: 1002; // red button is 1001
  $toastZ: $mouseBlockZ + 1;

  .mouse-blocker {
    position: absolute;
    z-index: $mouseBlockZ;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    &.mouse-blocker-on {
      display: block;
      background-color: white;
      opacity: 0.6;
    }

    &.mouse-blocker-off {
      display: none;
    }
  }

  .toast {
    $ToastHeight: 140px;
    $ToastBottomGap: 0px;

    border: none; // 1px solid lime;
    bottom: 0;
    height: $ToastHeight + $ToastBottomGap;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    right: 15px;
    width: 200px;
    z-index: $toastZ;

    .slider {
      overflow: hidden;
      pointer-events: all;
      /* complete liquid height based on the parent's height!! */
      height: 100%;
      background-color: $SitecoreRed;
      /* only transition on transform properties which are hardware accelerated = way better performances */
      -webkit-transition: -webkit-transform .5s ease;
      -moz-transition: -moz-transform .5s ease;
      -ms-transition: -ms-transform .5s ease;
      transition: transform .5s ease;
      padding: 5px;
      color: white;
      font-size: 15px;
      font-weight: bold;

      .header-wrapper {
        padding: 5px;
        border-bottom: solid white 1px;

        .header {
          font-weight: bold;
          display: inline-block;
        }

        input[type=button] {
          display: inline-block;
          float: right;
        }
      }

      .waiting {
        height: 14px;
        width: 14px;
        border-radius: 7px;
        margin: 4px;
        float: right;

        &.waiting-on {
          background-color: yellow;
          animation: scaleIn 4s infinite cubic-bezier(.36, .11, .89, .32);

          @keyframes scaleIn {
            from {
              transform: scale(.5, .5);
              opacity: .5;
            }

            to {
              transform: scale(2.5, 2.5);
              opacity: 0;
            }
          }
        }

        &waiting-off {
          background-color: white;
        }
      }

      .message {
        font-weight: normal;
        padding: 5px;
      }

      &.slide-up {
        -webkit-transform: translate(0, 0);
        -moz-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        transform: translate(0, 0);
      }

      &.slide-down {
        -webkit-transform: translate(0, 100%);
        -moz-transform: translate(0, 100%);
        -ms-transform: translate(0, 100%);
        transform: translate(0, 100%);
      }
    }
  }
}